{extend name="common/index2" /}

{block name="mainpos"}
<script src="/admin/Commctl/tablecol"></script>


<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" id="dropdownButton">
            CURD
            <i class="layui-icon layui-icon-down layui-font-12"></i>
        </button>

        <button class="layui-btn layui-btn-sm layui-bg-blue" id="reloadTest">
            ADDOND
            <i class="layui-icon layui-icon-down layui-font-12"></i>
        </button>
    </div>
</script>
<script type="text/html" id="toolDemo">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="Reply">Reply</a>
    </div>
</script>
<script>
    layui.use(['table', 'dropdown'], function(){
        var table = layui.table;
        var dropdown = layui.dropdown;

        // 创建渲染实例
        table.render({
            elem: '#test',
            url: '{$api}', // 此处为静态模拟数据，实际使用时需换成真实接口

            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', { // 右上角工具图标
                title: 'INFO',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips',
                onClick: function(obj) { // 2.9.12+
                    layer.alert('TABLE INFO');
                }
            }],


            height: '320', // 最大高度减去其他容器已占有的高度差
            css: [ // 重设当前表格样式
                '.layui-table-tool-temp{padding-right: 145px;}'
            ].join(''),
            cellMinWidth: 80,
            // totalRow: true, // 开启合计行
            page: true,
            cols: [[
                {type: 'checkbox', fixed: 'left'},

            ].concat(coleee).concat([{fixed: 'right', title:' Opts', width: 134, minWidth: 125, templet: '#toolDemo'}])],
            done: function(){
                console.log(this);
                var id = this.id;

                // 下拉按钮测试
                dropdown.render({
                    elem: '#dropdownButton', // 可绑定在任意元素中，此处以上述按钮为例
                    data: [
                        {
                        id: 'Reply',
                        title: 'Reply'
                        }
                    ],
                    // Event Menu click
                    click: function(obj){
                        var checkStatus = table.checkStatus(id)
                        var data = checkStatus.data; // Get DAta Select
                        switch(obj.id){
                            case 'Reply':
                                if(data.length !== 1) return layer.msg('SELECT ONE ROW');
                                console.log(data)
                                layer.open({
                                    title: 'Reply - '+data[0].uid,
                                    type: 2,
                                    area: ['80%','80%'],
                                    content: '/admin/form/Recomid?comid='+data.comid+'&cid='+data.cid
                                });
                                break;
                        }
                    }
                });

                // RELOAD测试
                dropdown.render({
                    elem: '#reloadTest', // 可绑定在任意元素中，此处以上述按钮为例
                    data: [{
                        id: 'reload',
                        title: 'RELOAD'
                    }],
                    // Event Menu click
                    click: function(obj){
                        switch(obj.id){
                            case 'reload':
                                // RELOAD - 默认（参数重置）
                                table.reload('test', {
                                    where: {
                                        abc: '123456',
                                    },

                                });
                                break;
                        }
                        layer.msg('Fresh');
                    }
                });


            },
            error: function(res, msg){
                console.log(res, msg)
            }
        });

        // 触发单元格工具事件
        table.on('tool(test)', function(obj){ // 双击 toolDouble
            var data = obj.data; // 获得当前行数据

            if(obj.event === 'Reply'){
                console.log(data)
                layer.open({
                    title: 'Reply - comid:'+ data.comid+" Cid:"+data.cid,
                    type: 2,
                    area: ['80%','80%'],
                    content: '/admin/form/Recomid?comid='+data.comid+'&cid='+data.cid
                });
            }

        });

        // 触发表格复选框选择
        table.on('checkbox(test)', function(obj){
            console.log(obj)
        });
    });
</script>
{/block}

