{extend name="common/index2" /}


{block name="mainpos"}

<div class="am-u-sm-12">
    <h2 class="am-text-center am-text-xxxl am-margin-top-lg">200. ya , THIS IS!</h2>
    <p class="am-text-center">SIMPLE EFFECTIVE SEC TOOL</p>
    <pre class="page-404">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  THIS IS!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
</div>

{/block}