{extend name="common/index2" /}


{block name="mainpos"}
<script src="/index/Api/tablecol"></script>

<form id="myform">
    <div class="layui-input-group">
        <div class="layui-input-split layui-input-prefix">
            search
        </div>
        <input type="text" placeholder="domain" name="domain" id="mydomian" class="layui-input">
        <div class="layui-input-suffix">
            <a class="layui-btn layui-btn-primary" onclick="searchdomain()">search</a>
        </div>
    </div>
</form>

<br>
<table class="layui-hide" id="ID-table-demo-setRowChecked"></table>
<script type="text/html" id="demo-toolbar-setRowChecked">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    </div>
</script>

<script>


    function load(query) {
        layui.use('table', function(){
            var table = layui.table;

            // 渲染
            table.render({
                elem: '#ID-table-demo-setRowChecked',
                url: '/index/Api?query='+query, // 此处为静态模拟数据，实际使用时需换成真实接口
                page: true,
                cols: [[].concat(coleee)],
                toolbar: '#demo-toolbar-setRowChecked',
                initSort: { // 设置初始排序
                    field: 'experience', // 字段名
                    type: 'desc' // 倒序
                },
                height: 366
            });

            // 行单击事件( 双击事件为: rowDouble )
            table.on('row(ID-table-demo-setRowChecked)', function(obj){
                var data = obj.data; // 获取当前行数据

                // 显示 - 仅用于演示
                layer.msg('当前行数据：<br>'+ JSON.stringify(data), {
                    offset: '65px'
                });
                // 标注当前点击行的选中状态
                obj.setRowChecked({
                    type: 'radio' // radio 单选模式；checkbox 复选模式
                });
            });
            // 头工具栏事件
            table.on('toolbar(ID-table-demo-setRowChecked)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;  // 获取选中行数据
                        layer.alert(JSON.stringify(data));  // 显示 - 仅用于演示
                        break;
                };
            });
        });
    }

    function findd(query) {
        layui.use('table', function(){
            var table = layui.table;

            // 渲染
            table.render({
                elem: '#ID-table-demo-setRowChecked',
                url: '/index/Api/find?name='+query, // 此处为静态模拟数据，实际使用时需换成真实接口
                page: true,
                cols: [[].concat(coleee)],
                toolbar: '#demo-toolbar-setRowChecked',
                initSort: { // 设置初始排序
                    field: 'experience', // 字段名
                    type: 'desc' // 倒序
                },
                height: 366
            });

            // 行单击事件( 双击事件为: rowDouble )
            table.on('row(ID-table-demo-setRowChecked)', function(obj){
                var data = obj.data; // 获取当前行数据

                // 显示 - 仅用于演示
                layer.msg('当前行数据：<br>'+ JSON.stringify(data), {
                    offset: '65px'
                });
                // 标注当前点击行的选中状态
                obj.setRowChecked({
                    type: 'radio' // radio 单选模式；checkbox 复选模式
                });
            });
            // 头工具栏事件
            table.on('toolbar(ID-table-demo-setRowChecked)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;  // 获取选中行数据
                        layer.alert(JSON.stringify(data));  // 显示 - 仅用于演示
                        break;
                };
            });
        });
    }

    function searchdomain(){
        findd($("#mydomian").val())
    }
    load("")

</script>

{/block}