{extend name="form/dinaform" /}

{block name="jscript"}

<script>
    let objinp = JSON.parse(atob("{$obj}"));
    console.log(objinp);
    layui.use(['form'], function(){
        var form = layui.form;
        var layer = layui.layer;
        // 提交事件
        form.on('submit(demo2)', function(data){
            var field = data.field; // 获取表单字段值
            field["cid"] = objinp["cid"];
                $.ajax({
                    url:"{$api}",
                    data:field,
                    type:"post",
                    success:function(data){
                        console.log(data);
                        // layer.alert(JSON.stringify(data), {
                        //     title: data
                        // });
                    },
                    error:function(data){
                        layer.alert(JSON.stringify(data), {
                            title: data
                        });
                    }
                });

            return false; // 阻止默认 form 跳转
        });
    });
</script>

{/block}
