{extend name="form/dinaform" /}

{block name="jscript"}



<script>
    let uid = "{$uid}";
    let cid = "{$cid}";
</script>


<script type="text/javascript">
    function domd(tag) {
        var testEditor;

        $(function() {
            testEditor = editormd(tag, {
                // width   : "90%",
                // height  : 640,
                syncScrolling : "single",
                // path    : "../lib/"
            });

            /*
            // or
            testEditor = editormd({
                id      : "test-editormd",
                width   : "90%",
                height  : 640,
                path    : "../lib/"
            });
            */
        });
    }
</script>


<script>
    $.ajax({
        url:"{$fetch_api}",
        data:{"cid":cid},
        type:"get",
        success:function(data){
            if(data.length > 0){
                $('#title').val(data[0]["title"]);
                $('#content').val(data[0]["content"]) && domd("{$mdtag}")
                $('#permid').val(data[0]["permID"])
            }
        },
        error:function(data){
            layer.alert(JSON.stringify(data), {
                title: data
            });
        }
    });
</script>



<script>

    layui.use(['form'], function(){
        var form = layui.form;
        var layer = layui.layer;
        // 提交事件
        form.on('submit(demo2)', function(data){
            var field = data.field; // 获取表单字段值
            // 显示填写结果，仅作演示用

            // 此处可执行 Ajax 等操作
            // …
            field["uid"] = uid;
            field["cid"] = cid;
            $.ajax({
                url:"{$api}",
                data:field,
                type:"post",
                success:function(data){
                    console.log(data);
                    if (data){
                        layer.alert(JSON.stringify(data), {
                            title: data
                        });
                        setTimeout(
                            layer.closeAll,
                            2000
                        )
                    }else {
                        layer.alert(JSON.stringify(data), {
                            title: data
                        });
                    }

                },
                error:function(data){
                    layer.alert(JSON.stringify(data), {
                        title: data
                    });
                }
            });

            return false; // 阻止默认 form 跳转
        });
    });
</script>

{/block}
