<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="/static/css/layui.css" rel="stylesheet">
    <script src="/static/layui.js"></script>
    <script src="/static/jquery.js"></script>

    <link rel="stylesheet" href="/examples/css/style.css" />
    <link rel="stylesheet" href="/examples/css/editormd.preview.css" />
    <link rel="stylesheet" href="/examples/css/editormd.css" />
    <!--    <script src="/examples/js/jquery.min.js"></script>-->
    <script src="/examples/lib/marked.min.js"></script>
    <script src="/examples/lib/prettify.min.js"></script>

    <script src="/examples/lib/raphael.min.js"></script>
    <script src="/examples/lib/underscore.min.js"></script>
    <script src="/examples/lib/sequence-diagram.min.js"></script>
    <script src="/examples/lib/flowchart.min.js"></script>
    <script src="/examples/lib/jquery.flowchart.min.js"></script>

    <script src="/examples/editormd.js"></script>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />


</head>

<body>
<!-- 给容器追加 class="layui-form-pane"，即可显示为方框风格 -->
<form name="{$formid}" class="layui-form layui-form-pane" action="" style="padding: 1em">


    {volist name="list" id="data"}
    <div class="layui-form-item">
        <label class="layui-form-label">
            {$data.lable}
        </label>

        {eq name="data.type" value="textarea" }
        <div class="layui-input-group">
            <textarea type="{$data.type}" id="{$data.name}" name="{$data.name}" autocomplete="off" placeholder="请输入" class="layui-input"></textarea>
        </div>
        {/eq}
        {eq name="data.type" value="markdowntext" }
        <div id="layout">
            <div id="{$data.name}-test-editormd-view">
                <textarea style="display:none;" type="{$data.type}" id="{$data.name}"  name="{$data.name}">###Hello world!</textarea>
            </div>
        </div>
        {/eq}
        {eq name="data.type" value="text" }
        <div class="layui-input-group">
            <input type="{$data.type}" id="{$data.name}" name="{$data.name}" autocomplete="off" placeholder="请输入" class="layui-input"></input>
        </div>
        {/eq}
        {eq name="data.type" value="password" }
        <div class="layui-input-group">
            <input type="{$data.type}" name="{$data.name}" id="{$data.name}" autocomplete="off" placeholder="请输入" class="layui-input"></input>
        </div>
        {/eq}
        {eq name="data.type" value="number" }
        <div class="layui-input-group">
            <input type="{$data.type}" name="{$data.name}" id="{$data.name}" autocomplete="off" placeholder="请输入" class="layui-input"></input>
        </div>

        {/eq}
        {eq name="data.type" value="email" }
        <div class="layui-input-group">
            <input type="{$data.type}" name="{$data.name}" id="{$data.name}" autocomplete="off" placeholder="请输入" class="layui-input"></input>
        </div>

        {/eq}
        {eq name="data.type" value="email" }
        <div class="layui-input-group">
            <input type="{$data.type}" name="{$data.name}" id="{$data.name}" autocomplete="off" placeholder="请输入" class="layui-input"></input>
        </div>

        {/eq}
    </div>

    {/volist}

    <div class="layui-form-item">
        <button class="layui-btn" lay-submit lay-filter="demo2">确认</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</form>

<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
{block name="jscript"}
<p>......</p>
{/block}

</body>
</html>